<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Secret Santa Help</h4></div>
    <div class="panel-body">
      <p class="lead">Importing</p>
      <p>The participants for the Secret Santa are imported from a CSV file. The
         name of each participant is separated by a comma, unless the following name
         belongs to the participant's partner. Partners are separated by a semi-colon.</p>
      <p>Importing a file for the same year will replace the exisiting participants for that year.</p>
      <div class="well">
        <h4>Sample file</h4>
        <samp>
        Sherlock Holmes , Dr John Watson ; Mrs Mary Watson, Mycroft Holmes, Inspector Lestrade, Mrs Hudson, Irene Adler
        </samp>
      </div>
    </div>
  </div>
</div>
