<div class="container">
  <div class="well">
    <%= render partial: "shared/participants_title", locals: {title: "Current "} %>
  </div>

  <%= render partial: "shared/participants_for_year" %>
</div>
