<div class="container">
  <div class="well"><h4>
    Current Secret Santa participants for <%= @year %>
  </h4>
  </div>
  <%= render partial: "shared/participants_for_year", locals: {people_secretsantas: @people_secretsantas} %>
</div>
