<table class="table">
  <%= render partial: "shared/participants_table_header", locals: {header_for: "Participant"} %>
  <tbody>
    <%= render partial: "shared/participants_table_by_person", collection: @people_secretsantas, as: :person_secretsanta%>
  </tbody>
</table>
